<!DOCTYPE html>
<html ng-app="movieApp">
<head>
	<title>Movie App</title>

	<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/styles/styles.css">
  
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
  <script src="assets/scripts/app.js"></script>
  <script src="assets/scripts/controllers/SearchController.js"></script>
  <!-- <script src="assets/scripts/directives/card-directive.js"></script> -->
</head>

<body >
	<header class="header">
		<h1>Movies & TV Shows</h1>
	</header>
	<section ng-controller="SearchController as searchCtrl">
		<section id="search-section" class="container">
			<p>Title: {{searchCtrl.title}}</p>
			<p>Year: {{searchCtrl.year}}</p>
			<p>Type: {{searchCtrl.type}}</p>

			<form ng-submit="searchCtrl.getMovie()">
				<input ng-model="searchCtrl.title" placeholder="e.g. Batman" class="form-control" required>
				<input ng-model="searchCtrl.year" placeholder="e.g. 1992 (OPTIONAL)" class="form-control">
				<input ng-model="searchCtrl.type" placeholder="e.g. movie, series, episode (OPTIONAL)" class="form-control">
				<input type="submit" class="btn btn-primary">
			</form>
			<!-- <card-directive></card-directive> -->
			{{searchCtrl.test}}
			<div ng-repeat="movie in searchCtrl.movies.Search">
				<button ng-click="searchCtrl.getOneMovie()">{{movie.Title}}</button>
				

			</div>
		</section>
	</section>

	<!-- <section id="render-section" class="container">
		<div ng-repeat="movie in searchCtrl.movies.Search">
			<card-directive one-movie="movie"></card-directive>
		</div>
	</section> -->
	




</body>
</html>