<section ng-controller="SearchController as searchCtrl" id="search-section" class="container">
		
	<p>Title: {{searchCtrl.title}}</p>
	<p>Year: {{searchCtrl.year}}</p>
	<p>Type: {{searchCtrl.type}}</p>

	<form ng-submit="searchCtrl.getMovie()">
		<input ng-model="searchCtrl.title" placeholder="e.g. Batman" class="form-control" required>
		<input ng-model="searchCtrl.year" placeholder="e.g. 1992 (OPTIONAL)" class="form-control">
		<input ng-model="searchCtrl.type" placeholder="e.g. movie, series, episode (OPTIONAL)" class="form-control">
		<input type="submit" class="btn btn-primary">
	</form>
	
	
	<div ng-repeat="movie in searchCtrl.movies.Search">
		<button><a ng-href="/{{movie.Title}}">{{movie.Title}}</a></button>
	</div>


</section>